.message {
    font-size: medium;
    width: 40em;
}

.continue-link { text-decoration: none; color: blue; padding-bottom:5em;}
.continue-link:hover { text-decoration: underline; color: blue; }
.continue-link:visited { color: blue; }
